<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-4 extend" id="left-area">
            <div class="row" id="myInfo">
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <button type="button" id="logout" name="logout" ng-click="c.logout()">
                        <i class="fa fa-sign-out icon-flipped" id="logout-icon" aria-hidden="true"></i>
                    </button>
                </div>
                <div id="username" class="col-md-10 col-sm-10 col-xs-10">
                    {{ c.user.username }}
                </div>
            </div>

            <div class="row">
                <div class="list-group" style="overflow-y: auto; height: 93vh;">
                    <a href="#" class="list-group-item" ng-repeat="user in c.users" ng-click="c.choose(user)" ng-class="{ 'selected': (user._id == c.selected) }">
                        <div class="info" style="float: left;">
                            <h5 class="list-group-item-heading">{{ user.username }}</h5>
                            <small class="list-group-item-text" ng-show="{{ user.online }}">Active now</small>
                            <small class="list-group-item-text" ng-show="!{{ user.online }}">offline</small>
                        </div>

                        <div style="float: right;" ng-show="user.unseen > 0">
                            <span class="badge">{{ user.unseen }}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-8 extend no-chat" ng-show="c.selected == -1"></div>

        <div class="col-md-9 col-sm-9 col-xs-8 extend" id="wrapper" ng-show="c.selected != -1">
            <div id="box" style="overflow-y: auto;" scroll-bottom="c.displayMessages">
                <div ng-repeat="message in c.displayMessages" ng-class="{'right' : (message.sender == c.user._id), 'left': (message.recipient == c.user._id) }">
                    <div ng-class="{'message-bubble-right' : (message.sender == c.user._id), 'message-bubble-left': (message.recipient == c.user._id) }">
                        <div class="message-text">
                            <p>{{ message.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" id="input">
                    <form ng-submit="c.sendMessage()">
                        <div class="col-md-11 fullHeight" id="message-wrapper">
                            <input type="text" id="message" name="message" placeholder="Type a message" ng-model="c.message">
                        </div>
                        <div class="col-md-1 fullHeight">
                            <button type="submit" id="send" name="send" ng-click="c.sendMessage()">
                                <i class="fa fa-paper-plane" id="send-icon" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
